<button (click)="clearDonations()">Sterge donatii</button>
<button (click)="clearRequests()">Sterge cereri</button>

<ul>
  <li *ngFor="let user of users | async; let i = index" class="row space-between approved-{{ user.approved }}">
    <!-- {{ user| json}} -->
    <div class="col">
      <div class="row">
        <div class="col photo">
          <img *ngIf="user.photoURL === ''" src="../../assets/images/default-user.png" alt="user">
          <img *ngElse src="user.photoURL" alt="user">
        </div>
        <div class="col">
          <div>
            <span>First Name: </span>
            <span>{{ user.firstName }}</span>
          </div>
          <div>
            <span>Last Name: </span>
            <span>{{ user.lastName }}</span>
          </div>
          <div>
            <span>E-mail: </span>
            <span>{{ user.email }}</span>
          </div>
          <div>
            <span>Role: </span>
            <span *ngIf="user.roles.admin">admin </span>
            <span *ngIf="user.roles.doctor">doctor </span>
            <span *ngIf="user.roles.nurse">nurse </span>
            <span *ngIf="user.roles.user">user </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <button *ngIf="!user.approved" class="btn btn-primary" (click)="approveUser(i)">Approve</button>
    </div>
    
  </li>
</ul>

<mat-list>
  <mat-list-item *ngFor="let center of centers | async; let i = index">
    {{ center | json}}
    <button (click)="deleteCenter(i)">Sterge</button>
  </mat-list-item>
</mat-list>
<div class="example-container">
  
  <form class="example-form" [formGroup]="addCenterForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nume Centru" formControlName="name">
    </mat-form-field>
    
    <div class="form-group">
      <div class="example-full-width">
        <label for="address">Address</label>
        <input class="form-control"
        matGoogleMapsAutocomplete
        [country]="ro" formControlName="address"
        (onLocationSelected)="onLocationSelected($event)">
      </div>
    </div>

    <button (click)='onSubmit()' mat-raised-button>
      Adauga
    </button>
  </form>
</div>
