<button (click)="clearDonations()" class="blue-button">Sterge donatii</button>
<button (click)="clearRequests()" class="blue-button">Sterge cereri</button>

<ul>
  <li *ngFor="let user of users | async; let i = index" class="row space-between approved-{{ user.approved }}">
    <div class="col">
      <div class="row">
        <div class="col photo">
          <img *ngIf="user.photoURL === ''" src="../../assets/images/default-user.png" alt="user">
          <img *ngElse src="user.photoURL" alt="user">
        </div>
        <div class="col">
          <div>
            <span>First Name: </span>
            <span>{{ user.firstName }}</span>
          </div>
          <div>
            <span>Last Name: </span>
            <span>{{ user.lastName }}</span>
          </div>
          <div>
            <span>E-mail: </span>
            <span>{{ user.email }}</span>
          </div>
          <div>
            <span>Role: </span>
            <span *ngIf="user.roles.admin">admin </span>
            <span *ngIf="user.roles.doctor">doctor </span>
            <span *ngIf="user.roles.nurse">nurse </span>
            <span *ngIf="user.roles.user">user </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <button *ngIf="!user.approved" class="btn btn-primary" (click)="approveUser(i)">Approve</button>
    </div>

  </li>
</ul>

<div class="example-container">

    <form class="example-form" [formGroup]="addCenterForm" style="margin: 0 30px; width:unset">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nume Centru" formControlName="name">
      </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <input matInput class="form-control" placeholder="Type address" matGoogleMapsAutocomplete [country]="ro" formControlName="address" (onLocationSelected)="onLocationSelected($event)">
      </mat-form-field>
  
      <button (click)='onSubmit()' mat-raised-button class="blue-button">
        Adauga
      </button>
    </form>
  </div>

<ul class="wrapper">
  <li *ngFor="let c of centers | async; let i = index">
    <div class="donation-center">
      <div class="name">
        <span>{{ c.name }}</span>
      </div>
      <div class="image"></div>
      <div class="angle-x"></div>
      <div class="angle-y"></div>
      <div class="longitude">
        {{ c.coordinates.longitude.toFixed(4) }}
      </div>
      <div class="latitude">
        {{ c.coordinates.latitude.toFixed(4) }}
      </div>
      <div class="button-container">
        <button (click)="deleteCenter(i)">Sterge</button>
      </div>
    </div>
  </li>
</ul>


