<ul>
  <li *ngFor="let request of requests | async; let i = index" class="row">
    <div class="badge" [ngStyle]="{'background-color':getColor(request.priority)}">
      {{ request.bloodType }}{{ request.rh }}
    </div>
    <div *ngIf="request.finalized" class="finalized">&#10004;</div>
    <div class="col" style="flex: auto">
      <h3>
        {{ request.name }}
      </h3>
      <mat-progress-bar mode="determinate" value="{{ request.recvQuantity/request.quantity * 100 }}"></mat-progress-bar>
      <div class="row space-between" style="border-color: transparent; margin: 10px 0">
        <div class="col">
          0
        </div>
        <div class="col">
          blood quantity
        </div>
        <div class="col">
          {{ request.quantity }}
        </div>
      </div>
    </div>
  </li>
</ul>
