<p>
  Cauta donatori:
</p>
<form [formGroup]="newRequestForm">
<mat-form-field>
  <mat-select placeholder="Grupa" formControlName="bloodType">
    <mat-option *ngFor="let type of types" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="RH" formControlName="rh">
    <mat-option *ngFor="let rh of rhs" [value]="rh">
      {{rh}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button (click)='onSubmit()' mat-raised-button>
  Cauta
</button>
</form>

<ul>
  <li *ngFor="let stock of stocks | async; let i = index">
    <h3 style="color:#3f51b5">{{ stock.quantity }}</h3>
    <div class="stock-row">
      <div class="stock-col">
        <mat-progress-bar style="height:100%" mode="determinate" value="{{ stock.quantity/50 * 100 }}">{{ stock.quantity}}</mat-progress-bar>
      </div>
      <div class="badge">
        Stock {{ stock.name }}
      </div>
    </div>
  </li>
</ul>

<mat-list>
  <mat-list-item *ngFor="let u of filteredUsers | async; let i = index">
    User:
    {{ u.email }} {{u.firstName}} {{u.lastName}} {{ u.group | json }} {{ u.rh | json }}
    , Dist (Km) pana la centru:
    {{ getDistance(u) | json }}
  </mat-list-item>
</mat-list>
