<form [formGroup]="newRequestForm" style="margin: 0 30px; width:unset">
  <p>
    Cauta donatori:
  </p>
<mat-form-field>
  <mat-select placeholder="Grupa" formControlName="bloodType">
    <mat-option *ngFor="let type of types" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="RH" formControlName="rh">
    <mat-option *ngFor="let rh of rhs" [value]="rh">
      {{rh}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button (click)='onSubmit()' mat-raised-button>
  Cauta
</button>
<button (click)='notifyUsers(newRequestForm.value.bloodType, newRequestForm.value.rh)' mat-raised-button>
  Notifica
</button>
</form>



<ul>
  <li *ngFor="let u of filteredUsers | async; let i = index" style="color:#3f51b5">
    <div class="row space-between">
      <div class="badge">
        {{ u.group }}{{ u.rh }}
      </div>
      <div class="col">
        <div class="row" style="border:none; margin: 15px 0">
          <div class="col photo">
            <img *ngIf="u.photoURL === ''" src="../../assets/images/default-user.png" alt="user">
            <img *ngElse src="user.photoURL" alt="user">
          </div>
          <div class="col">
            <div>
              <span>First Name: </span>
              <span>{{ u.firstName }}</span>
            </div>
            <div>
              <span>Last Name: </span>
              <span>{{ u.lastName }}</span>
            </div>
            <div>
              <span>E-mail: </span>
              <span>{{ u.email }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <span>Distance to the donating center: </span>
        <span style="font-weight:bold">{{ getDistance(u).toFixed(2) }} km</span>
        <!-- <button *ngIf="!user.approved" class="btn btn-primary" (click)="approveUser(i)">Approve</button> -->
      </div>
    </div>
  </li>
</ul>


<ul>
    <li *ngFor="let stock of stocks | async; let i = index">
      <h3 style="color:#3f51b5">{{ stock.quantity }}</h3>
      <div class="stock-row">
        <div class="stock-col">
          <mat-progress-bar style="height:100%" mode="determinate" value="{{ stock.quantity/50 * 100 }}">{{ stock.quantity}}</mat-progress-bar>
        </div>
        <div class="badge">
          Stock {{ stock.name }}
        </div>
      </div>
    </li>
  </ul>
  