<div class="background">
  <div class="row valign-wrapper" style="height: 90%;">
    <form class="col s10 m6 l4 offset-s1 offset-m3 offset-l4 center-align loginStyle" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   
      <div class="row">
        <div class="input-field">
          <input formControlName="username" id="first_name" type="text" class="validate loginCredentials">
          <label for="first_name" style="text-align: center;">Email</label>
        </div>
      </div>
      <div class="row">      
        <div class="input-field">
          <input formControlName="password" id="last_name" type="password" class="validate loginCredentials">
          <label for="last_name" style="text-align: center;">Password</label>
        </div>
      </div>
      <div class="row">      
          <input type="submit" value="login" class="btn loginButton col s8 m6 l4 offset-s2 offset-m3 offset-l4">
        </div>
    </form>
  </div>

  <!-- //<button (click)="this._authService.doLogout()">logout</button> -->
</div>
<!-- 

<div class="example-container">
  <form class="example-container" [formGroup]="options">
    <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
    <div>
      <label>Float label: </label>
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
        <mat-radio-button value="never">Never</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>

  <mat-form-field
      [hideRequiredMarker]="options.value.hideRequired"
      [floatLabel]="options.value.floatLabel">
    <input matInput placeholder="Simple placeholder" required>
  </mat-form-field>

  <mat-form-field [floatLabel]="options.value.floatLabel">
    <mat-label>Both a label and a placeholder</mat-label>
    <input matInput placeholder="Simple placeholder">
  </mat-form-field>

  <mat-form-field
      [hideRequiredMarker]="options.value.hideRequired"
      [floatLabel]="options.value.floatLabel">
    <mat-select required>
      <mat-option>-- None --</mat-option>
      <mat-option value="option">Option</mat-option>
    </mat-select>
    <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
  </mat-form-field>
</div> -->