<!-- <div class="background">
  <div class="row valign-wrapper" style="height: 90%;">
    <form class="col s10 m6 l4 offset-s1 offset-m3 offset-l4 center-align loginStyle" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
   
      <div class="row">
        <div class="input-field">
          <input formControlName="username" id="first_name" type="text" class="validate loginCredentials">
          <label for="first_name" style="text-align: center;">Email</label>
        </div>
      </div>
      <div class="row">      
        <div class="input-field">
          <input formControlName="password" id="last_name" type="password" class="validate loginCredentials">
          <label for="last_name" style="text-align: center;">Password</label>
        </div>
      </div>
      <div class="row">      
          <input type="button" (click)="submit()" value="login" class="btn loginButton col s8 m6 l4 offset-s2 offset-m3 offset-l4">
        </div>
    </form>
  </div>

 
</div> -->

<div class="main-div">
  <mat-card class="example-card z-depth center">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field></td>
        </tr></table>
      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="submit()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

