ul {
  list-style: none;
  padding-left: 0;
  margin: 30px;
}

li {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
}

h3 {
  text-align: center;
  font-size: 22px;
}

.approved-true {
  background-color: #53d453;
  color: green;
  border: 1px solid green;
}

.approved-false {
  background-color: #ffaa41;
  color: #cc0000;
  border: 1px solid #cc0000;
}

.row {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f0f0f0;
  border: 1px solid #3f51b5;
  border-radius: 4px;
}

.space-between {
  justify-content: space-between;
}

.col {
  margin: 0 15px;
}

.badge {
  position: absolute;
  left: 15px;
  top: -20px;
  padding: 5px;
  border-radius: 4px;
  /* background-color: #cc0000; */
  color: white;
  font-weight: bold;
}

.finalized {
  position: absolute;
  right: 15px;
  top: -20px;
  padding: 5px;
  border-radius: 4px;
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 15px;
  padding: 15px;
  background: none;
  border: none;
  outline: none;
  color: white;
  background-color: #3f51b5;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #647bff;
}

button:active {
  transform: scale(0.9);
  transition: 0s;
}

input {
  border: 1px solid #3f51b5;
  outline: none;
  padding: 15px;
  border-radius: 5px;
}
