<ul>
  <li *ngFor="let request of requests | async; let i = index" class="row">
    <div class="badge">
      {{ request.bloodType }}{{ request.rh }}
    </div>
    <div *ngIf="request.finalized" class="finalized">&#10004;</div>
    <div class="priority-indicator priority-value{{request.priority}}">
      <div class="level"></div>
      <div class="level"></div>
      <div class="level"></div>
    </div>
    <div class="col" style="flex: auto">
      <h3>
        {{ request.name }}
      </h3>
      <mat-progress-bar mode="determinate" value="{{ request.recvQuantity/request.quantity * 100 }}"></mat-progress-bar>
      <div class="row space-between" style="border-color: transparent; margin: 10px 0">
        <div class="col">
          0
        </div>
        <div class="col">
          blood quantity
        </div>
        <div class="col">
          {{ request.quantity }}
        </div>
      </div>
      <div class="flex-center">
        <button (click)="completeRequest(i)">
          Complete request
        </button>
        <input placeholder="quantity" [(ngModel)]="qty[i]">
        <button (click)="sendBlood(i)">
          Send Blood
        </button>
      </div>
    </div>
  </li>
</ul>

<mat-list>
  <mat-list-item *ngFor="let c of centers | async; let i = index">
    {{ c | json}}
  </mat-list-item>
</mat-list>
