<mat-toolbar color="primary">
  <span>EtOH Blood Manager</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <button mat-button>Despre Noi</button>
  <button mat-button>Contact</button>
  <button *ngIf="!authorization.isApproved && authorization.isLoggedIn" mat-button (click)="Logout()">Logout</button>

  <button *ngIf="(authorization.isUser || authorization.isDoctor || authorization.isNurse || authorization.isAdmin) && authorization.isApproved" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
  <button *ngIf="authorization.isUser"   [routerLink]="['/user/home']" routerLinkActive="router-link-active" mat-menu-item>Acasa</button>
  <button *ngIf="authorization.isUser"   [routerLink]="['/user/donate']" routerLinkActive="router-link-active" mat-menu-item>Doneaza Acum</button>
  <button *ngIf="authorization.isUser"   [routerLink]="['/user/results']" routerLinkActive="router-link-active" mat-menu-item>Rezultatele Mele</button>
  <button *ngIf="authorization.isUser"   [routerLink]="['/user/settings']" routerLinkActive="router-link-active" mat-menu-item>Setari</button>
  <button *ngIf="authorization.isDoctor" [routerLink]="['/doctor/home']" routerLinkActive="router-link-active" mat-menu-item>Acasa</button>
  <button *ngIf="authorization.isDoctor" [routerLink]="['/doctor/request']" routerLinkActive="router-link-active" mat-menu-item>Cerere Noua</button>
  <button *ngIf="authorization.isDoctor" [routerLink]="['/doctor/requests']" routerLinkActive="router-link-active" mat-menu-item>Cereri</button>
  <button *ngIf="authorization.isDoctor" [routerLink]="['/doctor/settings']" routerLinkActive="router-link-active" mat-menu-item>Setari</button>
  <button *ngIf="authorization.isNurse"  [routerLink]="['/nurse/home']" routerLinkActive="router-link-active" mat-menu-item>Acasa</button>
  <button *ngIf="authorization.isNurse"  [routerLink]="['/nurse/donations']" routerLinkActive="router-link-active" mat-menu-item>Donatii</button>
  <button *ngIf="authorization.isNurse"  [routerLink]="['/nurse/requests']" routerLinkActive="router-link-active" mat-menu-item>Cereri</button>
  <button *ngIf="authorization.isAdmin"  [routerLink]="['/admin/users']" routerLinkActive="router-link-active" mat-menu-item>Utilizatori</button>
  <button mat-menu-item (click)="Logout()">Logout</button>
</mat-menu>
</mat-toolbar>


<router-outlet></router-outlet>